# Folium + GeoJson

In [5]:
import folium
import pandas as pd
import geopandas as gpd

In [10]:
#df = pd.read_json('australian_postcodes.json')
df = pd.read_csv('australian_postcodes.csv', dtype={'postcode': str})
display(df.head())

  postcode        locality state       long        lat   dc type
0     0200             ANU   ACT    0.00000   0.000000  NaN  NaN
1     0221          BARTON   ACT    0.00000   0.000000  NaN  NaN
2     0800          DARWIN    NT  130.83668 -12.458684  NaN  NaN
3     0801          DARWIN    NT    0.00000   0.000000  NaN  NaN
4     0803  WAGAIT BEACH""    NT    0.00000   0.000000  NaN  NaN

In [13]:
# clean the post code for special purposes(PO Box)

df.drop(df[df['long']==0].index, inplace=True)
df.head()

  postcode       locality state        long        lat   dc type
2     0800         DARWIN    NT  130.836680 -12.458684  NaN  NaN
6     0810          ALAWA    NT  130.866242 -12.381806  NaN  NaN
7     0810        BRINKIN    NT  130.866242 -12.381806  NaN  NaN
8     0810      CASUARINA    NT  130.866242 -12.381806  NaN  NaN
9     0810  COCONUT GROVE    NT  130.866242 -12.381806  NaN  NaN

In [44]:
m = folium.Map([-38.043995, 145.264296], zoom_start=9)
m

In [34]:
df_mel = df[df['postcode'].str[0]=='3']
display(df_mel.head())
for index, row in df_mel.iterrows():
    folium.Marker([row['lat'], row['long']],              
              tooltip=row['locality'],              
             ).add_to(m)

,postcode,locality,state,long,lat,dc,type
6007,3000,MELBOURNE,VIC,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area
6009,3002,EAST MELBOURNE,VIC,144.982207,-37.818517,CITY DELIVERY CENTRE,Delivery Area
6010,3003,WEST MELBOURNE,VIC,144.949592,-37.810871,CITY DELIVERY CENTRE,Delivery Area
6011,3004,MELBOURNE,VIC,144.970161,-37.844246,CITY DELIVERY CENTRE,Delivery Area
6012,3004,ST KILDA ROAD CENTRAL,VIC,144.970161,-37.844246,NaN,NaN

In [36]:
df = pd.read_csv('Australian_Post_Codes_Lat_Lon.csv', dtype={'postcode': str})
display(df.head())

,postcode,suburb,state,dc,type,lat,lon
0,200,AUSTRALIAN NATIONAL UNIVERSITY,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,221,BARTON,ACT,NaN,LVR,-35.201372,149.095065
2,800,DARWIN,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,801,DARWIN,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,804,PARAP,NT,PARAP,Post Office Boxes,-12.432181,130.843310

In [43]:
#df[df['postcode']=='3084']
df['postcode'] = df['postcode'].str.zfill(4)
display(df.head())

,postcode,suburb,state,dc,type,lat,lon
0,0200,AUSTRALIAN NATIONAL UNIVERSITY,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,0221,BARTON,ACT,NaN,LVR,-35.201372,149.095065
2,0800,DARWIN,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,0801,DARWIN,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,0804,PARAP,NT,PARAP,Post Office Boxes,-12.432181,130.843310

In [47]:
df_mel = df[df['postcode'].str[0]=='3']
display(df_mel.head())
for index, row in df_mel.iterrows():
    folium.Marker([row['lat'], row['lon']],              
              tooltip=row['suburb'],              
             ).add_to(m)

,postcode,suburb,state,dc,type,lat,lon
5324,3000,MELBOURNE,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.814563,144.970267
5325,3001,MELBOURNE,VIC,CITY MAIL PROCESSING CENTRE,Post Office Boxes,-38.365017,144.765920
5326,3002,EAST MELBOURNE,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.816640,144.987811
5327,3003,WEST MELBOURNE,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.806255,144.941123
5328,3004,MELBOURNE,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.837324,144.976335